<!-- dashboard once user is logged in -->
<h2>Dashboard</h2>

<!-- student dashboard -->
{% if role == "student" %}
    <p>Welcome, {{ session.user }}</p>
        <a href="/transcript/{{ session.user }}">View Transcript</a><br>
        <a href="/recommend/{{ session.user }}">Get Recommendations</a><br>
        <a href="/requirements/{{ session.user }}">View Requirements</a><br>
        <a href="/report/{{ session.user }}">Generate My Report</a>
    <br>
    <a href="/logout">Logout</a>

<!-- faculty dashboard -->
{% elif role == "faculty" %}
    <p>Welcome, {{ session.user }}</p>
    <h3>Advisees:</h3>

    {% for s in advisees %}
        <p>{{ s }}
        <a href="/transcript/{{ s }}">Transcript</a>
        <a href="/recommend/{{ s }}">Recommend</a>
        <a href="/requirements/{{ s }}">Requirements</a>
        <a href="/report/{{ s }}">Generate Report</a>
        </p>
    {% endfor %}

    <br>
<!--    logout for better session security-->
    <a href="/logout">Logout</a>
{% endif %}
